.btn {
  padding: 1.5rem 2rem;
  border-radius: 5px;
  border-style: none;
  margin: 1rem;

  &:hover {
    cursor: pointer;
  }

  &-primary {
    background-color: lighten(rgba(38, 98, 209, 0.952), 7%);
    color: #eeecfc;
    font-weight: 700;

    &:hover {
      background-color: darken(skyblue, 20%);
      color: #fff;
    }
  }
}
