.btn {
  padding: 1.5rem 2rem;
  border-radius: 5px;
  border-style: none;
  margin: 1rem;

  &-primary {
    background-color: lighten(rgba(38, 98, 209, 0.952), 7%);
    color: #fff;
    font-weight: 700;
  }
}
